body{
    height: 95vh;
    width:95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #228b22;
    
}

.rodape {
    text-align: center;
    color: black;
}
